
* {
 /* border: 1px solid black;*/
}

/* Basislayout */
* {
  box-sizing: border-box;
  overflow: auto;
}


html, body {
    height: 100%;
    padding: 0;
    background-color: #ffffff;  
    color: #463838;
    font-family: "proxima nova", Arial, Sans-Serif;
}


main {
    margin: 0 auto;
    width: 800px;
    position: relative;
}


article {
    text-align: justify;
}


header {
    color: #662233;
    text-align: center;
    font-family: ltc-bodoni-175;
}


footer {
    text-align: center;
    padding-bottom: 10px;
}


h2 {
  font-family: ltc-bodoni-175;
}

/* specifieke stijlen */

img.zweefLinks {
    float: left;
    width: 50%;
    padding: 20px;
}

img.zweefRechts {
  float: right;
  width: 50%;
  padding: 20px;
}
.rij {
  width: 100%;
}

.kolomLinks {
  float: left;
  width: 50%;
  padding:10px;]
}

.naarLinks {
    float: left;
    width: 350px;
    padding: 20px 10px;
}

#samenvatting {
 padding: 0px 10px 
}

#content {
  padding: 0px 10px
}

.acteur {
  float: left;
  width:200px;
  padding: 10px;

}

.acteur img {
  width:100%;
}

a {
    color: skyblue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


/* navigatiebalk */
nav ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    background-color: #662233;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav li a {
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #844e5b;
    text-decoration: none;
}

nav li a.active {
    background-color: #844e5b;
}

/* animatie */

h1 {
  animation: fadein 3s 1;
}

@keyframes fadein {
  0%   {opacity: 0;}
  100% {opacity: 1;}
}


