/*
* {
  border: 1px solid black;
}

/* Basislayout */
* {
  box-sizing: border-box;
  overflow:auto;
}

html, body {
    height: 100%;
    padding: 0;
    background-color: white;  
    color: #303030;
    font: Verdana, Arial, Sans-Serif;
}


main {
    margin: 0 auto;
    width: 700px;
    position: relative;
}


article {
    text-align: justify;
}


header {
    color: skyblue;
    text-align: center;
}


footer {
    text-align: center;
    padding-bottom: 10px;
}



/* specifieke stijlen */

.zweefLinks {
  float: left
}

.zweefRechts {
  float:right;
}

img.zweefLinks {
    float: left;
    width: 50%;
    padding: 20px;
}

img.zweefRechts {
  float: right;
  width: 50%;
  padding: 20px;
}

.rij {
  width: 100%;
}

.kolomLinks {
  float: left;
  width: 50%;
  padding:10px;]
}

.smalltext {
    font-size: 0.7em;
}

a {
    color: skyblue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


/* navigatiebalk */
nav ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    background-color: #EEEEEE;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: 
}

nav li a.active {
    background-color: skyblue;
}




